.nav {
  display: flex;
}

.list {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 0;
  position: relative;
  transition: color 0.2s ease;
}

.link:hover {
  color: var(--accent-color);
}

.activeLink {
  composes: link;
  color: var(--text-primary);
}

.activeLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1875rem; /* 3px полоска */
  background-color: var(--accent-color);
  border-radius: 2px;
}