.header {
  position: sticky;
  top: 0;
  z-index: 100;

  background-color: #ffffff;
  box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.05);

  height: 4.5rem;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--text-primary);
  margin: 0;

  cursor: default;
}

.logo span {
  color: var(--accent-color);
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    gap: 1rem;
  }
}
